/* CSS Variables */
:root {
	--primary: #fc9;
	--dark: #333;
	--light: #fff;
	--shadow: 0px 26px 30px 0px rgba(0, 0, 0, 0.15);
	--shadow-hover: 0px 28px 45px 0px rgba(0, 0, 0, 0.3);
}

html {
	box-sizing: border-box;
	font-family: monospace;
	color: var(--dark);
	overflow-x: hidden;
}

body {
	padding: 0;
	margin: 0;
}

/* Scrollbar */
*::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

*::-webkit-scrollbar-thumb {
	background: var(--dark);
	border-radius: 0.5rem;
}

/* 
* HEADER SECTION 
*/

/* Container */
.header {
	display: grid;
}

/* Logo */
.logo {
	grid-area: logo;
}

.logo h1 {
	font-size: 3rem;
	overflow: hidden;
	border-right: .15em solid var(--dark);
	letter-spacing: .15em;
	animation: 
		typing 1.5s steps(10, end),
		blink-caret 1s step-end infinite;
}

@keyframes typing {
	from { width: 0 }
	to { width: 100%; }
}

@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: var(--dark) }
}

/* Intro */
.intro {
	grid-area: intro;
}

/* Skills */
.skill {
	display: inline-block;
	background-color: var(--dark);
	color: var(--light);
	padding: 0.5rem;
	margin-bottom: 0.5rem;
}

/* Contact */
.contact {
	grid-area: contact;
	background-image: url(../img/hexagon.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	color: var(--light);
	text-align: center;
	margin-top: 5rem;
}

.contact-details {
	display: grid;
}

.contact-details p:nth-child(odd) {
	margin-bottom: 1rem;
}

.contact-details p:nth-child(even) {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 0;
}

/*
* FEATURED PROJECTS
*/

.featured-projects {
	position: relative;
	width: 100vw;
	margin-left: -50vw;
	left: 50%;
	overflow-x: scroll;
	white-space: nowrap;
}

.featured-projects .project-container {
	display: inline-grid;
	margin: 2rem;
	max-width: 50rem;
}

.featured-projects .project-container .project {
	font-size: 2.5rem;
}

/* Spacing at beginning and end */
.featured-projects:before, .featured-projects:after {
	content: "";
	padding-right: 12rem;
}


/*
* PROJECTS
*/

.projects {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 0.5rem;
	margin-bottom: 10rem;
}

.projects h1, .projects p {
	grid-column: 1 / -1;
	margin: 1rem 0 3rem 0;
	padding-left: 3rem;
}

.projects h1 {
	font-size: 2rem;
	margin: 5rem 0 0;
}

.project-container {
	margin: 1rem;
	display: grid;
	position: relative;
}

.project-container img, .project-container .project {
	grid-area: 1 / 1 / -1 / -1;
	width: 100%;
}

.project-container .project {
	display: grid;
	width: 100%;
	transition: .5s ease;
	margin: 0;
	background-color: rgba(255,204,153,0.5);
	color: white;
	text-align: center;
	align-items: center;
}

.project-container .skills {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 0.5rem 0.5rem 0;
}

.project-container .skills .skill {
	background-color: var(--light);
	color: var(--dark);
}

.paginator {
	margin: 0 auto;
	grid-column: 1 / -1;
}

.prev {
	float: left;
	margin-right: 2.5rem;
}

.next {
	float: right;
	margin-left: 2.5rem;
}

/*
* FOOTER
*/

footer {
	position: relative;
	width: 100vw;
	margin: 0 0 0 -50vw;
	left: 50%;
	text-align: center;
	color: white;
	background-color: var(--primary);
	padding-bottom: 25px;
}

footer p {
	font-size: 1rem;
	margin: auto;
}

footer p:before {
	content: "";
	background-image: url(../img/triangle.svg);
	position: absolute;
	top: -50px;
	height: 50px;
	left: 0;
	right: 0;
}

/*
* MEDIA QUERIES
*/

/* Mobile >=500px */
@media only screen and (max-width: 500px) {

	/* Full-width contact on mobile devices */
	.contact {
		position: relative;
		width: 100vw;
		margin-left: -50vw;
		left: 50%;
		padding: 2rem 0;
	}
}

@media only screen {

	/*
	* HEADER SECTION
	*/

	.header {		
		grid-template-areas:
			'logo'
			'intro'
			'contact';
		text-align: center;
		padding: 3rem;
	}

	.logo {
		margin: 0 auto;
	}

	.contact-details {
		grid-template-columns: 1fr;
	}
}

/* Tablet > 500px */
@media only screen and (min-width: 501px) {

	/*
	* HEADER SECTION
	*/

	.header {
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			'logo contact contact'
			'intro contact contact'
	}

	.logo {
		margin: auto auto 0 0;
	}

	.intro {
		text-align: left;
		padding-right: 2rem;
	}

	.contact {
		padding: 2rem 1rem 4rem 1rem;
	}

	.contact-details {
		grid-template-columns: 1fr 1fr;
	}

	.contact-details h1 {
		grid-column: 1/3;
	}

	.contact-details p:nth-child(odd) {
		text-align: left;
	}

	/*
	* PROJECTS
	*/
	.projects {
		grid-template-columns: 1fr 1fr;
	}
}

/* Laptops > 800px */
@media only screen and (min-width: 800px) {
	html {
		margin: 0 auto;
		padding: 0 5rem;
		max-width: 1200px;
	}

	/*
	* HEADER SECTION
	*/

	.contact {
		margin-left: 2.5rem;
		margin-right: 2.5rem;
	}

	/*
	* PROJECTS
	*/

	.projects {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.project-container .project {
		width: 0;
		color: rgba(255,255,255,0);
	}

	.project-container:hover .project {
		width: 100%;
		color: white;
	}

	.project-container .skills .skill {
		background-color: var(--dark);
		color: var(--light);
	}

	.project-container:hover .skill {
		background-color: var(--light);
		color: var(--dark);
	}
}