---
layout: default
home: true

# This is the home page. It uses the layout default.html and the following is pasted in the {{content}} section.
---

  <header>
    <div class="header">
      <a class="logo" href="{{ site.url }}">
        <h1>{{ site.logo }}</h1>
      </a>
      <div class="intro">
        <p>{{ site.description }}</p>
        {% if site.skills %}
          {% for skill in site.skills %}
            <div class="skill">{{ skill }}</div>
          {% endfor %}
        {% endif %}
      </div>
      <div class="contact">
        <div class="contact-details">
          <h1>Contact</h1>

          {% if site.linkedin %}
            <p>LinkedIn:</p>
            <p><a target="_blank" href="https://linkedin.com/in/{{ site.linkedin }}">linkedin.com/in/<br>{{ site.linkedin }}</a></p>
          {% endif %}

          {% if site.twitter %}
            <p>Twitter:</p>
            <p><a target="_blank" href="https://twitter.com/{{ site.twitter }}">@{{ site.twitter }}</a></p>
          {% endif %}

          {% if site.email %}
            <p>Email:</p>
            <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
          {% endif %}
        </div>
      </div>
    </div>
  </header>

  {% if site.tags.featured %}
    <h1 class="featured-projects-title">/featured-projects</h1>
    <section class="featured-projects">
      {% for post in site.tags.featured %}
        <a class="project" href="{{ site.url }}{{ post.url }}">
          {% if post.featured %}
            <img src="{{ site.url }}/{{ site.media-folder }}/{{ post.media-folder }}/{{ post.featured }}" alt="{{ post.title }}">
          {% else %}
            <!-- No featured image -->
            <img src="https://placehold.it/853x480?text=NO+FEATURED+IMAGE" alt="{{ post.title }}">
          {% endif %}
          <h2><span class="title">{{ post.title }}</span></h2>
          <div class="skills-container">
            {% if post.skills %}
              {% for skill in post.skills %}
                <div class="skill">{{ skill }}</div>
              {% endfor %}
            {% endif %}
          </div>
        </a>
      {% endfor %}
    </section>
  {% endif %}

  <section class="projects">
    <h1>/projects</h1>
    {% for post in paginator.posts %}
      <a class="project" href="{{ site.url }}{{ post.url }}">
        {% if post.featured %}
          <img src="{{ site.url }}/{{ site.media-folder }}/{{ post.media-folder }}/{{ post.featured }}" alt="{{ post.title }}">
        {% else %}
          <!-- No featured image -->
          <img src="https://placehold.it/853x480?text=NO+FEATURED+IMAGE" alt="{{ post.title }}">
        {% endif %}
        <h2><span class="title">{{ post.title }}</span></h2>
        <div class="skills-container">
          {% if post.skills %}
            {% for skill in post.skills %}
              <div class="skill">{{ skill }}</div>
            {% endfor %}
          {% endif %}
        </div>
      </a>
    {% endfor %}
    {% if paginator.total_pages > 1 %}
      <div class="paginator">
        {% if paginator.previous_page %}
          <a class="prev" href="{{ paginator.previous_page_path }}">&larr; previous</a>
        {% endif %}
        {% if paginator.next_page %}
          <a class="next" href="{{ paginator.next_page_path }}">next &rarr;</a>
        {% endif %}
      </div>
    {% endif %}
  </section>

  {% include footer.html %}