<head>
    <!-- Page title -->
    <title>{% if page.title %}{{ page.title }} | {{ site.name }}{% else %}{{ site.name }}{% endif %}</title>

    {% if page.description %}
        <!-- Page description -->
        <meta name="description" content="{{ page.description }}">
    {% else %}
        <!-- No description provided, use generic description -->
        <meta name="description" content="{{ site.description }}">
    {% endif %}

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/{{ site.css-folder }}/style.css">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ site.url }}/{{ site.media-folder }}/favicon.png">

    <!-- OpenGraph meta tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ site.url }}">
    <meta name="twitter:creator" content="@{{ site.twitter }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}">
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:image" content="{% if page.featured %}{{ site.url }}/{{ site.media-folder }}/{{ page.media-folder }}/{{ page.featured }}{% else %}{{ site.url }}/{{ site.media-folder }}/{{ site.featured }}{% endif %}">
</head>