---
layout: default

# This is the template for a page. It uses the layout default.html.
---

    <header class="background" {% if page.featured %}style="background-image: url({{ site.url  }}/{{ site.media-folder }}/{{ page.media-folder }}{{ page.featured }});"{% endif %}>
        <div class="header separator">
            <a class="logo" href="{{ site.url }}">
                <h1>{{ site.logo }}</h1>
            </a>
            <div class="intro">
                <h1><span class="title">{{ page.title }}</span></h1>
            </div>
        </div>
    </header>

    <section class="article-content">
        {{ content }}
    </section>